// Bootstrap
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

$btn-primary-color: #f9f9f9;
$btn-primary-bg: #444;

// Sidebar
$transition: all 0.1s ease;

$sidebar-bg: #111;
$sidebar-bg-active: rgba(255,255,255,0.2);
$sidebar-color: #bbb;
$sidebar-color-active: #f9f9f9;
$sidebar-width: 230px;
